h3 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
}
small {
    font-weight: 300;
}

p {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
}
svg {
    display: inline-block;
}

.label {
    font-size: 18px;
}

.d3-tip {
    padding: 10px;
    border-radius: 5px;
    background-color: bisque;
    text-align: center;
}

.y-label {
    font-size: 12px;
}